.movie-card {
  position: relative;
  width: 200px;
  margin: auto;
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
  background: white;
}

.movie-img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}

.age-badge {
  position: absolute;
  top: 10px;
  left: 10px;
  background: gold;
  color: black;
  padding: 4px 8px;
  font-weight: bold;
  border-radius: 5px;
  z-index: 2;
}

.hot-badge {
  position: absolute;
  top: 10px;
  right: 10px;
  background: red;
  color: white;
  padding: 4px 8px;
  font-weight: bold;
  font-size: 12px;
  border-radius: 3px;
  z-index: 2;
}

.movie-title {
  font-weight: bold;
  color: #0053b3;
  margin-top: 8px;
}

.movie-description {
  font-size: 13px;
  color: #555;
  padding: 4px 8px 12px;
}
